@charset "utf-08";

img {
    width: 50px;
}

#arroz{
    background-image: url(../img/Arroz.jpg);
}
#bolo{
    background-image: url(../img/bolo.jpg);

}
#coxinha{
    background-image: url(../img/Coxinha.jpg);

}
